@-webkit-keyframes stretch {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes stretch {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -400%, 0);
    transform: translate3d(100%, -400%, 0);
  }
}
@keyframes fly {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -400%, 0);
    transform: translate3d(100%, -400%, 0);
  }
}
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale3d(0.6, 0.6, 0.6);
    transform: scale3d(0.6, 0.6, 0.6);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomin {
  0% {
    -webkit-transform: scale3d(0.6, 0.6, 0.6);
    transform: scale3d(0.6, 0.6, 0.6);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes flytwo {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -60%, 0);
    transform: translate3d(-100%, -60%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes flytwo {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -60%, 0);
    transform: translate3d(-100%, -60%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  outline: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  text-align: center;
  overflow: hidden;
}
img {
  max-width: 100%;
}
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
.hide {
  display: none;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.bg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}
.logo {
  height: 29px;
  background-image: url(../images/logo.png);
}
.slogan {
  margin-top: 1%;
  height: 10px;
  background-image: url(../images/slogan.png);
}
.shine {
  position: absolute;
  z-index: 999999;
}
.shine div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffd426;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
.shine .pulse1 {
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  -webkit-animation: none;
  animation: none;
}
.shine .pulse2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.shine .pulse3 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  background-color: #2e9ee8;
}
.loading.active {
  opacity: 1;
}
.loading .logo {
  margin-top: 60%;
}
.loading .slogan {
  margin-top: 1%;
}
.loading .rectangle-bounce {
  margin-top: 10%;
  height: 80px;
  text-align: center;
}
.loading .rectangle-bounce div {
  height: 100%;
  width: 10px;
  margin: 0 3px 0 0;
  background-color: #fff;
  display: inline-block;
  -webkit-animation: stretch 1.2s infinite ease-in-out;
  animation: stretch 1.2s infinite ease-in-out;
}
.loading .rectangle-bounce .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loading .rectangle-bounce .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.loading .rectangle-bounce .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.loading .rectangle-bounce .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.loading .load-text {
  margin-top: 30px;
  font-size: 3rem;
  color: #fff;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
.wrapper.active {
  opacity: 1;
}
.wrapper * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -33px;
  width: 66px;
  height: 36px;
  background-image: url(../images/arrow.png);
  opacity: 0;
}
.arrow.show {
  -webkit-animation: arrow 1.2s linear infinite;
  animation: arrow 1.2s linear infinite;
}
.arrow-left,
.arrow-right {
  width: 11.5px;
  height: 21.5px;
}
.arrow-left {
  float: left;
  background-image: url(../images/arrow_left.png);
}
.arrow-right {
  float: right;
  background-image: url(../images/arrow_right.png);
}
.milestone {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px 0 #0b8ed1, 0 0 15px 0 #fff inset;
  border-radius: 6px;
  color: #004b86;
  font-size: 1.6rem;
}
.milestone .header {
  border-bottom: 1px dashed #91c2dd;
  padding-bottom: 3px;
}
.milestone .symbol {
  display: inline-block;
  margin-bottom: 2px;
  width: 6.5px;
  height: 6.5px;
  background-image: url(../images/symbol.png);
}
.milestone .content {
  padding: 4px;
  line-height: 1.4em;
  text-align: left;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% auto;
  opacity: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
.page.active {
  opacity: 1;
}
.page1 {
  background-image: url(../images/bg1.jpg);
}
.page1 .logo {
  margin-top: 8%;
  -webkit-animation: fadeindown .8s linear;
  animation: fadeindown .8s linear;
}
.page1 .slogan {
  -webkit-animation: fadeindown .8s linear;
  animation: fadeindown .8s linear;
}
.page1 .text {
  margin-top: 12%;
  height: 124.5px;
  background-image: url(../images/text1.png);
  opacity: 0;
  -webkit-animation: fadeindown .8s linear .8s forwards;
  animation: fadeindown .8s linear .8s forwards;
}
.page2 .smog {
  width: 520.5px;
  height: 628px;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
}
.page2 .smog1 {
  right: 100%;
  bottom: -10px;
  background-image: url(../images/smog1.png);
}
.page2 .smog1.moving {
  right: 20%;
}
.page2 .smog2 {
  left: 100%;
  bottom: 0;
  background-image: url(../images/smog2.png);
}
.page2 .smog2.moving {
  left: 20%;
}
.page2 .text {
  margin-top: 30%;
  height: 94px;
  background-image: url(../images/text3.png);
  opacity: 0;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
}
.page2 .text.show {
  opacity: 1;
}
.page2 .tips {
  bottom: 45px;
  width: 100%;
  height: 194.5px;
  background-image: url(../images/text2.png);
  opacity: 0;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
}
.page2 .tips.show {
  opacity: 1;
}
.page3 .light-up {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272536;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
}
.page3 .light-up.uping {
  bottom: 100%;
}
.page3 .bg-img {
  bottom: 0;
}
.page3 .bg-img img {
  display: block;
}
.page3 .text {
  top: 35px;
  left: 0;
  width: 100%;
  height: 104px;
  background-image: url(../images/text4.png);
  opacity: 0;
}
.page3 .text.show {
  -webkit-animation: fadeindown .8s linear forwards 1.5s;
  animation: fadeindown .8s linear forwards 1.5s;
}
.page3 .plane {
  bottom: 4%;
  width: 100%;
  height: 137.5px;
  background-image: url(../images/plane.png);
}
.page3 .plane.flying {
  -webkit-animation: fly 2s linear forwards;
  animation: fly 2s linear forwards;
}
.page3 .plane.flying .shine {
  display: none;
}
.page3 .plane .shine {
  top: 21%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -21px;
}
.page3 .countup {
  padding-top: 11px;
  padding-right: 10px;
  color: #fb650b;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}
.page4 {
  background-image: url(../images/bg2.jpg);
}
.page4 .logo {
  margin-top: 20%;
  -webkit-animation: fadeindown .8s linear;
  animation: fadeindown .8s linear;
}
.page4 .text {
  margin-top: 17%;
  height: 204px;
  background-image: url(../images/text5.png);
  opacity: 0;
  -webkit-animation: fadeindown .8s linear .8s forwards;
  animation: fadeindown .8s linear .8s forwards;
}
.page5 .arrow-left,
.page5 .arrow-right {
  width: 40px;
  background-position: 100% 50%;
}
.page5 .arrow-left.none,
.page5 .arrow-right.none {
  background-image: none;
}
.page5 .origin,
.page5 .scale,
.page5 .international,
.page5 .international2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 100%;
  background-size: 100% auto;
  opacity: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
.page5 .origin.show,
.page5 .scale.show,
.page5 .international.show,
.page5 .international2.show {
  opacity: 1;
}
.page5 .milestone {
  left: 70px;
  right: 5%;
  bottom: 0;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.page5 .milestone.show {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.page5 .milestone:before,
.page5 .milestone:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: -39px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}
.page5 .milestone:before {
  top: 10px;
  width: 10px;
  height: 10px;
}
.page5 .milestone:after {
  left: -49px;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
.page5 .milestone-header {
  top: 4%;
  right: 0;
  left: 0;
  z-index: 9999;
  font-size: 2rem;
  color: #fff;
}
.page5 .flight-line {
  top: 0;
  left: 35px;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px 0 #0b8ed1;
}
.page5 .plane {
  bottom: 0;
  left: 11px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(-27deg);
  -ms-transform: rotate(-27deg);
  transform: rotate(-27deg);
  background-image: url(../images/plane.png);
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.page5 .plane.flying {
  bottom: 100%;
}
.page5 .plane.flying .shine {
  display: none;
}
.page5 .plane .shine {
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -26px;
}
.origin {
  background-image: url(../images/bg3.jpg);
}
.origin .milestone1.show {
  bottom: 65%;
}
.origin .milestone2 {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.origin .milestone2.show {
  bottom: 40%;
}
.origin .milestone3 {
  bottom: 15%;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.origin .milestone3.show {
  bottom: 15%;
}
.scale {
  background-image: url(../images/bg4.jpg);
}
.scale .milestone4.show {
  bottom: 65%;
}
.scale .milestone5 {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.scale .milestone5.show {
  bottom: 38%;
}
.scale .milestone6 {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.scale .milestone6.show {
  bottom: 15%;
}
.international {
  background-image: url(../images/bg5.jpg);
}
.international .milestone7.show {
  bottom: 65%;
}
.international .milestone8 {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.international .milestone8.show {
  bottom: 40%;
}
.international .milestone9 {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.international .milestone9.show {
  bottom: 10%;
}
.international2 {
  background-image: url(../images/bg6.jpg);
}
.international2 .milestone10.show {
  bottom: 64%;
}
.international2 .milestone11 {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.international2 .milestone11.show {
  bottom: 45%;
}
.international2 .milestone12 {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.international2 .milestone12.show {
  bottom: 26%;
}
.international2 .milestone13 {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.international2 .milestone13.show {
  bottom: 10%;
}
.page6 {
  background-image: url(../images/bg8.jpg);
}
.page6 .logo {
  margin-top: 20%;
  -webkit-animation: fadeindown .8s linear;
  animation: fadeindown .8s linear;
}
.page6 .text {
  margin-top: 17%;
  height: 204px;
  background-image: url(../images/text6.png);
  opacity: 0;
  -webkit-animation: fadeindown .8s linear .8s forwards;
  animation: fadeindown .8s linear .8s forwards;
}
.page7 {
  background-image: url(../images/bg7.jpg);
}
.page7 .text {
  margin-top: 2%;
  font-size: 2rem;
  color: #fff;
}
.page7 .data {
  margin-bottom: -2%;
  height: 144.5px;
  opacity: 0;
}
@media (min-device-height: 667) and (-webkit-min-device-pixel-ratio: 2) {
  .page7 .data {
    /* 兼容iphone6plus */
    height: 130px;
  }
}
.page7 .data1 {
  background-image: url(../images/data1.png);
  -webkit-animation: fadeindown .8s linear forwards;
  animation: fadeindown .8s linear forwards;
}
.page7 .data2 {
  background-image: url(../images/data2.png);
  -webkit-animation: fadeindown .8s linear .7s forwards;
  animation: fadeindown .8s linear .7s forwards;
}
.page7 .data3 {
  background-image: url(../images/data3.png);
  -webkit-animation: fadeindown .8s linear 1.4s forwards;
  animation: fadeindown .8s linear 1.4s forwards;
}
.page7 .data4 {
  background-image: url(../images/data4.png);
  -webkit-animation: fadeindown .8s linear 2.1s forwards;
  animation: fadeindown .8s linear 2.1s forwards;
}
.page8 {
  background-image: url(../images/bg8.jpg);
}
.page8 .logo {
  margin-top: 20%;
  -webkit-animation: fadeindown .8s linear;
  animation: fadeindown .8s linear;
}
.page8 .text {
  margin-top: 17%;
  height: 152.5px;
  background-image: url(../images/text7.png);
  opacity: 0;
  -webkit-animation: fadeindown .8s linear .8s forwards;
  animation: fadeindown .8s linear .8s forwards;
}
.page9 .map-wrap {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
.page9 .map-header {
  position: absolute;
  top: 5%;
  width: 100%;
  font-size: 2rem;
  color: #fff;
  line-height: 1.2em;
}
.page9 .map-header .arrow-left,
.page9 .map-header .arrow-right {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.page9 .map {
  width: 2079px;
  height: 1250px;
  background-image: url(../images/map.jpg);
}
.page9 .shine {
  width: 30px;
  height: 30px;
}
.page9 .shine.singapore {
  left: 1608px;
  top: 730px;
}
.page9 .shine.malaysia {
  left: 1604px;
  top: 720px;
}
.page9 .shine.hanguo {
  left: 1745px;
  top: 465px;
}
.page9 .shine.aodaliya {
  left: 1856px;
  top: 960px;
}
.page9 .shine.hasakesitan {
  left: 1390px;
  top: 375px;
}
.page9 .shine.wuzibiekesitan {
  left: 1242px;
  top: 490px;
}
.page9 .shine.yingguo {
  left: 925px;
  top: 360px;
}
.page9 .shine.luomaniya {
  left: 1100px;
  top: 430px;
}
.page9 .shine.jianada {
  left: 475px;
  top: 450px;
}
.page9 .shine.meiguo {
  left: 330px;
  top: 590px;
}
.page9 .shine.nanfei {
  left: 1100px;
  top: 950px;
}
.page9 .shine.namibiya {
  left: 1060px;
  top: 915px;
}
.page9 .milestone {
  position: absolute;
  opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.page9 .milestone.show {
  opacity: 1;
}
.page9 .milestone.singapore {
  left: 1650px;
  top: 730px;
  width: 150px;
}
.page9 .milestone.malaysia {
  left: 1440px;
  top: 720px;
  width: 160px;
}
.page9 .milestone.hanguo {
  left: 1780px;
  top: 465px;
  width: 230px;
}
.page9 .milestone.aodaliya {
  left: 1620px;
  top: 960px;
  width: 230px;
}
.page9 .milestone.hasakesitan {
  left: 1425px;
  top: 375px;
  width: 190px;
}
.page9 .milestone.wuzibiekesitan {
  left: 1280px;
  top: 490px;
  width: 190px;
}
.page9 .milestone.yingguo {
  left: 700px;
  top: 360px;
  width: 220px;
}
.page9 .milestone.luomaniya {
  left: 910px;
  top: 430px;
  width: 190px;
}
.page9 .milestone.jianada {
  left: 510px;
  top: 450px;
  width: 250px;
}
.page9 .milestone.meiguo {
  left: 365px;
  top: 590px;
  width: 205px;
}
.page9 .milestone.nanfei {
  left: 1135px;
  top: 950px;
  width: 190px;
}
.page9 .milestone.namibiya {
  left: 865px;
  top: 915px;
  width: 190px;
}
.page10 img {
  top: 0;
  left: 0;
  width: 100%;
}
.page11 {
  background-image: url(../images/bg2.jpg);
}
.page11 .logo {
  margin-top: 10%;
  -webkit-animation: fadein .3s linear;
  animation: fadein .3s linear;
}
.page11 .name {
  margin-top: 5%;
}
.page11 .name div {
  display: inline-block;
  margin: 0 3px;
  width: 108px;
  height: 145px;
  -webkit-animation: zoomin 1s ease;
  animation: zoomin 1s ease;
}
.page11 .name .china {
  background-image: url(../images/china.jpg);
}
.page11 .name .general {
  background-image: url(../images/general.jpg);
}
.page11 .name .nuclear {
  background-image: url(../images/nuclear.jpg);
}
.page11 .text {
  margin-top: 5%;
  height: 139.5px;
  background-image: url(../images/text8.png);
  opacity: 0;
  -webkit-animation: fadeindown .8s linear 1s forwards;
  animation: fadeindown .8s linear 1s forwards;
}
.page11 .plane {
  margin-top: -10%;
  height: 220.5px;
  background-image: url(../images/plane2.png);
  background-position: 100% 50%;
  opacity: 0;
  -webkit-animation: flytwo 1s ease 1.5s forwards;
  animation: flytwo 1s ease 1.5s forwards;
}
.page11 .text2 {
  display: inline-block;
  margin: 8% auto 0;
  padding: 10px 30px;
  color: #004b86;
  background-color: #fff;
  border-radius: 5px;
  font-size: 2rem;
  opacity: 0;
  -webkit-animation: fadein .8s linear 2.5s forwards;
  animation: fadein .8s linear 2.5s forwards;
}
.music {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 99999;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.music span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 24px;
  margin: -12px 0 0 -1px;
  border-radius: 2px;
  background-color: #2e9ee8;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.music.playing {
  -webkit-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}
.music.playing span {
  visibility: hidden;
}
.share-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  line-height: 2em;
  color: #fff;
}
